Valide_Schema/ReleveBanque.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.1">
    
    <xsd:element name="releve">
        <xsd:complexType>
            <xsd:sequence>               
                <xsd:element name = "dateReleve" minOccurs="1" maxOccurs="1"></xsd:element>
                <xsd:element name = "solde" minOccurs="1" maxOccurs="1"></xsd:element>
                <xsd:element name="operations" minOccurs="1" maxOccurs="1" type="operations_type"></xsd:element>
            </xsd:sequence>
            <xsd:attribute name="RIB" use="required"></xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="operations_type">
        <xsd:sequence>
            <xsd:element name = "operation" minOccurs="0" maxOccurs="unbounded" type="operation_type"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name ="dateDebut" type="xsd:date" use = "required"></xsd:attribute>
        <xsd:attribute name ="dateFin" type="xsd:date" use = "required"></xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="operation_type">
        <xsd:attribute name = "type" use="required" type="xsd:string"></xsd:attribute>
        <xsd:attribute name = "date" use="required" type="xsd:date"></xsd:attribute>
        <xsd:attribute name = "montant" use="required" type="xsd:double"></xsd:attribute>
        <xsd:attribute name = "description" use="required" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
    
</xsd:schema>
