Valide_DTD/ReleveBanque.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT releve (dateReleve, solde, operations)>
<!ELEMENT dateReleve ANY >
<!ELEMENT solde ANY >
<!ELEMENT operations (operation+)>
<!ELEMENT operation EMPTY >

<!ATTLIST releve
            RIB CDATA #REQUIRED>

<!ATTLIST operations 
            dateDebut CDATA #REQUIRED
            dateFin CDATA #REQUIRED>
            
<!ATTLIST operation 
            type CDATA #REQUIRED
            date CDATA #REQUIRED
            montant CDATA #REQUIRED
            description CDATA #REQUIRED>